In [1]:
import pandas as pd

In [2]:
path = '/tmp/current_agent_df.csv'

In [3]:
df = pd.read_csv(path)

In [7]:
result = df.groupby('workflow_id')['telemetry_summary.duration_sec'].sum().reset_index().sort_values(by='telemetry_summary.duration_sec', ascending=False).dropna(axis=1, how='all')
result
### QUERY 5, WRONG RESPONSE- JUST TESTING. IT TAKES THE TIME PER WORKFLOW ID INSTEAD OF THE ACTIVITY
# WITH THE LONGEST EXECUTION TIME PER WORKFLOW_ID IT JUST TAKES THEN ENTIRE WORKFLOW_ID

                             workflow_id  telemetry_summary.duration_sec
65  a654eb4a-27ee-48e7-bc98-c3025e8ce534                        0.007981
83  cb6b5e71-1682-4329-9a1c-b3aa60a88685                        0.007368
33  60c3802c-a8c4-4ae3-8a81-e0e10b8f70a3                        0.007283
43  7d0852d0-8261-4eaf-a4f2-f81e293dc02c                        0.006752
46  8366f7b4-f0ba-4e17-ac13-926ed8c35d71                        0.006740
..                                   ...                             ...
5   10d8da5a-7cb6-4342-ab0b-8a0ef8bb55be                        0.003360
34  6106d18a-51d2-45f1-a22c-d18756f5679d                        0.003335
95  ebfe21ad-71f1-4ef0-9b09-f41e0a5006e8                        0.003308
14  24cc35ab-7e56-4eab-84be-584e82f8eb2c                        0.003268
45  8231a3cb-16f2-48d4-9ff1-25257deeab1f                        0.003182

[100 rows x 2 columns]

In [6]:
result = df.assign(started_at=pd.to_datetime(df['started_at']), ended_at=pd.to_datetime(df['ended_at']), duration=lambda x: (x['ended_at'] - x['started_at']).dt.total_seconds()).groupby(['workflow_id', 'activity_id'])['duration'].sum().reset_index().loc[lambda x: x.groupby('workflow_id')['duration'].idxmax()]
result

                              workflow_id           activity_id  duration
0    01f149a1-65c0-47fb-81bc-21ceb0d085c9       average_results  0.000718
8    06b0052f-b1e7-45ff-bae5-3b7d07b27638       average_results  0.000561
16   074be906-ab64-43f2-8a70-0ac19bad7bde       average_results  0.000575
25   08ee9818-9a15-4b90-a7da-484a59fe1fc4         log_and_shift  0.000846
35   0b36e303-88c7-4601-b7ce-8a224f2a1a8a     scale_shift_input  0.000645
..                                    ...                   ...       ...
763  ebfe21ad-71f1-4ef0-9b09-f41e0a5006e8     scale_shift_input  0.000535
770  ee632b2e-606d-45e5-81c9-d87c1b951690  power_one_point_five  0.000978
779  f2fcf18c-9f5e-4afa-810c-0665912c1aff     scale_shift_input  0.000972
786  ff5cef90-4d9b-4bef-83bc-aa0e8cc472ec  power_one_point_five  0.000616
796  ff615e44-ebef-4a41-9e92-2f0f20848893        sqrt_and_scale  0.000964

[100 rows x 3 columns]

In [9]:
"result = (df.assign(started_at=pd.to_datetime(df['started_at'])).sort_values('started_at', ascending=False).groupby('workflow_id').head(1).nlargest(10, 'started_at')['cpu_percent'].mean())"
result

np.float64(0.1)

In [4]:
 sorted(df['workflow_id'].unique())[0]

'01f149a1-65c0-47fb-81bc-21ceb0d085c9'

In [22]:
result = df[df['workflow_id'] == sorted(df['workflow_id'].unique())[0]][['task_id', 'telemetry_summary.duration_sec']].values.tolist()

In [23]:
result

[[1752176945.4611628, 0.000511884689331],
 [1752176945.462119, 0.0004372596740722],
 [1752176945.462986, 0.0004515647888183],
 [1752176945.4639387, 0.0004568099975585],
 [1752176945.464884, 0.0005059242248535],
 [1752176945.465991, 0.000842809677124],
 [1752176945.4673164, 0.0003738403320312],
 [1752176945.468047, 0.0003719329833984]]

In [24]:
result = df[df['workflow_id'] == df.sort_values('started_at',ascending=False)['workflow_id'].iloc[0]][['hostname','activity_id','telemetry_summary.duration_sec']].sort_values('started_at').apply(tuple,axis=1).tolist()

KeyError: 'started_at'

In [25]:
df['started_at']

0    2025-07-10 19:49:05.461163+00:00
1    2025-07-10 19:49:05.462119+00:00
2    2025-07-10 19:49:05.462986+00:00
3    2025-07-10 19:49:05.463939+00:00
4    2025-07-10 19:49:05.464884+00:00
5    2025-07-10 19:49:05.465991+00:00
6    2025-07-10 19:49:05.467316+00:00
7    2025-07-10 19:49:05.468047+00:00
Name: started_at, dtype: object

In [28]:
result = df[df['workflow_id'] == sorted(df['workflow_id'].unique())[0]][['activity_id','started_at','telemetry_summary.duration_sec','hostname','generated.a','generated.b','generated.c','generated.d','generated.e','generated.f','generated.g','generated.h']].sort_values('started_at')

In [29]:
result

,activity_id,started_at,telemetry_summary.duration_sec,hostname,generated.a,generated.b,generated.c,generated.d,generated.e,generated.f,generated.g,generated.h
0,scale_shift_input,2025-07-10 19:49:05.461163+00:00,0.000512,LAP149969.ornl.gov,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.0
1,square_and_quarter,2025-07-10 19:49:05.462119+00:00,0.000437,LAP149969.ornl.gov,NaN,NaN,NaN,NaN,462.25,NaN,NaN,NaN
2,sqrt_and_scale,2025-07-10 19:49:05.462986+00:00,0.000452,LAP149969.ornl.gov,NaN,NaN,NaN,NaN,NaN,39.344631,NaN,NaN
3,subtract_and_shift,2025-07-10 19:49:05.463939+00:00,0.000457,LAP149969.ornl.gov,NaN,NaN,NaN,NaN,NaN,NaN,46.8,NaN
4,square_and_subtract_one,2025-07-10 19:49:05.464884+00:00,0.000506,LAP149969.ornl.gov,NaN,NaN,NaN,213674.0625,NaN,NaN,NaN,NaN
5,log_and_shift,2025-07-10 19:49:05.465991+00:00,0.000843,LAP149969.ornl.gov,NaN,NaN,10.67236,NaN,NaN,NaN,NaN,NaN
6,power_one_point_five,2025-07-10 19:49:05.467316+00:00,0.000374,LAP149969.ornl.gov,NaN,320.161259,NaN,NaN,NaN,NaN,NaN,NaN
7,average_results,2025-07-10 19:49:05.468047+00:00,0.000372,LAP149969.ornl.gov,71334.965373,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
result = df[df['workflow_id'] == sorted(df['workflow_id'].unique())[0]][['hostname', 'started_at']].sort_values('started_at').apply(tuple, axis=1).tolist()
result

[('LAP149969.ornl.gov', '2025-07-10 19:49:05.461163+00:00'),
 ('LAP149969.ornl.gov', '2025-07-10 19:49:05.462119+00:00'),
 ('LAP149969.ornl.gov', '2025-07-10 19:49:05.462986+00:00'),
 ('LAP149969.ornl.gov', '2025-07-10 19:49:05.463939+00:00'),
 ('LAP149969.ornl.gov', '2025-07-10 19:49:05.464884+00:00'),
 ('LAP149969.ornl.gov', '2025-07-10 19:49:05.465991+00:00'),
 ('LAP149969.ornl.gov', '2025-07-10 19:49:05.467316+00:00'),
 ('LAP149969.ornl.gov', '2025-07-10 19:49:05.468047+00:00')]

In [32]:
result[0]

/tmp/ipykernel_41730/223460175.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[0]

['scale_shift_input',
 'square_and_quarter',
 'sqrt_and_scale',
 'subtract_and_shift',
 'square_and_subtract_one',
 'log_and_shift',
 'power_one_point_five',
 'average_results']

In [35]:
# 1
result = df.groupby('workflow_id').size().reset_index(name='task_count')
result

                            workflow_id  task_count
0  20ec5772-d321-43cd-b35f-73a715107e25           8

In [36]:
# 2
result = df['started_at'].min()
result

'2025-07-10 19:49:05.461163+00:00'

In [40]:
#3
result = df[df['workflow_id'] == sorted(df['workflow_id'].unique())[0]][['task_id', 'telemetry_summary.duration_sec']].values.tolist()
result

[[1752176945.4611628, 0.000511884689331],
 [1752176945.462119, 0.0004372596740722],
 [1752176945.462986, 0.0004515647888183],
 [1752176945.4639387, 0.0004568099975585],
 [1752176945.464884, 0.0005059242248535],
 [1752176945.465991, 0.000842809677124],
 [1752176945.4673164, 0.0003738403320312],
 [1752176945.468047, 0.0003719329833984]]

In [41]:
# 4
result = ['scale_shift_input','square_and_quarter','sqrt_and_scale','subtract_and_shift','square_and_subtract_one','log_and_shift','power_one_point_five','average_results']
result

['scale_shift_input',
 'square_and_quarter',
 'sqrt_and_scale',
 'subtract_and_shift',
 'square_and_subtract_one',
 'log_and_shift',
 'power_one_point_five',
 'average_results']

In [48]:
# 5
result = df.assign(started_at=pd.to_datetime(df['started_at']), ended_at=pd.to_datetime(df['ended_at']), duration=lambda x: (x['ended_at'] - x['started_at']).dt.total_seconds()).groupby(['workflow_id', 'activity_id'])['duration'].sum().reset_index().loc[lambda x: x.groupby('workflow_id')['duration'].idxmax()]
result

                            workflow_id    activity_id  duration
1  20ec5772-d321-43cd-b35f-73a715107e25  log_and_shift  0.000843

In [50]:
# 6 
result = df.assign(started_at=pd.to_datetime(df['started_at']), ended_at=pd.to_datetime(df['ended_at'])).groupby('workflow_id').apply(lambda x: (x['ended_at'].max() - x['started_at'].min()).total_seconds()).idxmax()
result

/tmp/ipykernel_41730/504313059.py:2: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  result = df.assign(started_at=pd.to_datetime(df['started_at']), ended_at=pd.to_datetime(df['ended_at'])).groupby('workflow_id').apply(lambda x: (x['ended_at'].max() - x['started_at'].min()).total_seconds()).idxmax()

'20ec5772-d321-43cd-b35f-73a715107e25'

In [52]:
# 7
result = df['hostname'].value_counts().idxmax()
result

'LAP149969.ornl.gov'

In [54]:
# 8
result = df['telemetry_summary.duration_sec'].max()
result

np.float64(0.000842809677124)

In [55]:
result = (pd.to_datetime(df['ended_at']) - pd.to_datetime(df['started_at'])).dt.total_seconds().max()
result

np.float64(0.000843)

In [57]:
# 9
result = df['activity_id'].dropna().unique().tolist()
result

['scale_shift_input',
 'square_and_quarter',
 'sqrt_and_scale',
 'subtract_and_shift',
 'square_and_subtract_one',
 'log_and_shift',
 'power_one_point_five',
 'average_results']

In [60]:
# 10
result = df.loc[[pd.to_datetime(df['started_at']).idxmin()], ['activity_id', 'used.input_value', 'generated.output_value']].to_dict(orient='records')[0]
result

KeyError: "['generated.output_value'] not in index"

In [61]:
# 10
result = df.loc[[pd.to_datetime(df['started_at']).idxmin()],['activity_id', 'used.input_value', 'generated.h']].to_dict(orient='records')[0]
result

{'activity_id': 'scale_shift_input',
 'used.input_value': 12.0,
 'generated.h': 43.0}

In [67]:
#11
result = df[df['workflow_id'] == df.loc[pd.to_datetime(df['started_at']).idxmax(), 'workflow_id']].sort_values(by='started_at')[['hostname','activity_id','telemetry_summary.duration_sec']].apply(tuple,axis=1).tolist()
result

[('LAP149969.ornl.gov', 'scale_shift_input', 0.000511884689331),
 ('LAP149969.ornl.gov', 'square_and_quarter', 0.0004372596740722),
 ('LAP149969.ornl.gov', 'sqrt_and_scale', 0.0004515647888183),
 ('LAP149969.ornl.gov', 'subtract_and_shift', 0.0004568099975585),
 ('LAP149969.ornl.gov', 'square_and_subtract_one', 0.0005059242248535),
 ('LAP149969.ornl.gov', 'log_and_shift', 0.000842809677124),
 ('LAP149969.ornl.gov', 'power_one_point_five', 0.0003738403320312),
 ('LAP149969.ornl.gov', 'average_results', 0.0003719329833984)]

In [68]:
# 12
result = df.groupby('activity_id').agg({'started_at':['min','max'],'telemetry_summary.duration_sec':'mean','hostname':lambda x:x.dropna().unique().tolist(),'generated.a':'max','generated.b':'max','generated.c':'max','generated.d':'max','generated.e':'max','generated.f':'max','generated.g':'max','generated.h':'max'})
result

                                               started_at  \
                                                      min
activity_id
average_results          2025-07-10 19:49:05.468047+00:00
log_and_shift            2025-07-10 19:49:05.465991+00:00
power_one_point_five     2025-07-10 19:49:05.467316+00:00
scale_shift_input        2025-07-10 19:49:05.461163+00:00
sqrt_and_scale           2025-07-10 19:49:05.462986+00:00
square_and_quarter       2025-07-10 19:49:05.462119+00:00
square_and_subtract_one  2025-07-10 19:49:05.464884+00:00
subtract_and_shift       2025-07-10 19:49:05.463939+00:00

                                                           \
                                                      max
activity_id
average_results          2025-07-10 19:49:05.468047+00:00
log_and_shift            2025-07-10 19:49:05.465991+00:00
power_one_point_five     2025-07-10 19:49:05.467316+00:00
scale_shift_input        2025-07-10 19:49:05.461163+00:00
sqrt_and_scale           2025-07-10 19:49:05.462986+00:00
square_and_quarter       2025-07-10 19:49:05.462119+00:00
square_and_subtract_one  2025-07-10 19:49:05.464884+00:00
subtract_and_shift       2025-07-10 19:49:05.463939+00:00

                        telemetry_summary.duration_sec              hostname  \
                                                  mean              <lambda>
activity_id
average_results                               0.000372  [LAP149969.ornl.gov]
log_and_shift                                 0.000843  [LAP149969.ornl.gov]
power_one_point_five                          0.000374  [LAP149969.ornl.gov]
scale_shift_input                             0.000512  [LAP149969.ornl.gov]
sqrt_and_scale                                0.000452  [LAP149969.ornl.gov]
square_and_quarter                            0.000437  [LAP149969.ornl.gov]
square_and_subtract_one                       0.000506  [LAP149969.ornl.gov]
subtract_and_shift                            0.000457  [LAP149969.ornl.gov]

                          generated.a generated.b generated.c  generated.d  \
                                  max         max         max          max
activity_id
average_results          71334.965373         NaN         NaN          NaN
log_and_shift                     NaN         NaN    10.67236          NaN
power_one_point_five              NaN  320.161259         NaN          NaN
scale_shift_input                 NaN         NaN         NaN          NaN
sqrt_and_scale                    NaN         NaN         NaN          NaN
square_and_quarter                NaN         NaN         NaN          NaN
square_and_subtract_one           NaN         NaN         NaN  213674.0625
subtract_and_shift                NaN         NaN         NaN          NaN

                        generated.e generated.f generated.g generated.h
                                max         max         max         max
activity_id
average_results                 NaN         NaN         NaN         NaN
log_and_shift                   NaN         NaN         NaN         NaN
power_one_point_five            NaN         NaN         NaN         NaN
scale_shift_input               NaN         NaN         NaN        43.0
sqrt_and_scale                  NaN   39.344631         NaN         NaN
square_and_quarter           462.25         NaN         NaN         NaN
square_and_subtract_one         NaN         NaN         NaN         NaN
subtract_and_shift              NaN         NaN        46.8         NaN

In [71]:
# 13
result = df[df['workflow_id'] == sorted(df['workflow_id'].unique())[0]][['activity_id','started_at','telemetry_summary.duration_sec','hostname','generated.a','generated.b','generated.c','generated.d','generated.e','generated.f','generated.g','generated.h']].sort_values('started_at')
result

,activity_id,started_at,telemetry_summary.duration_sec,hostname,generated.a,generated.b,generated.c,generated.d,generated.e,generated.f,generated.g,generated.h
0,scale_shift_input,2025-07-10 19:49:05.461163+00:00,0.000512,LAP149969.ornl.gov,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.0
1,square_and_quarter,2025-07-10 19:49:05.462119+00:00,0.000437,LAP149969.ornl.gov,NaN,NaN,NaN,NaN,462.25,NaN,NaN,NaN
2,sqrt_and_scale,2025-07-10 19:49:05.462986+00:00,0.000452,LAP149969.ornl.gov,NaN,NaN,NaN,NaN,NaN,39.344631,NaN,NaN
3,subtract_and_shift,2025-07-10 19:49:05.463939+00:00,0.000457,LAP149969.ornl.gov,NaN,NaN,NaN,NaN,NaN,NaN,46.8,NaN
4,square_and_subtract_one,2025-07-10 19:49:05.464884+00:00,0.000506,LAP149969.ornl.gov,NaN,NaN,NaN,213674.0625,NaN,NaN,NaN,NaN
5,log_and_shift,2025-07-10 19:49:05.465991+00:00,0.000843,LAP149969.ornl.gov,NaN,NaN,10.67236,NaN,NaN,NaN,NaN,NaN
6,power_one_point_five,2025-07-10 19:49:05.467316+00:00,0.000374,LAP149969.ornl.gov,NaN,320.161259,NaN,NaN,NaN,NaN,NaN,NaN
7,average_results,2025-07-10 19:49:05.468047+00:00,0.000372,LAP149969.ornl.gov,71334.965373,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [73]:
# 14
result = df.sort_values(['workflow_id', 'started_at']).groupby('workflow_id')['activity_id'].apply(list)
result

workflow_id
20ec5772-d321-43cd-b35f-73a715107e25    [scale_shift_input, square_and_quarter, sqrt_a...
Name: activity_id, dtype: object

In [98]:
# 15
result = {'activities_per_workflow': df.sort_values(['workflow_id','started_at']).groupby('workflow_id')['activity_id'].apply(list), 'unique_campaign_count': df['campaign_id'].nunique()}
result

{'activities_per_workflow': workflow_id
 20ec5772-d321-43cd-b35f-73a715107e25    [scale_shift_input, square_and_quarter, sqrt_a...
 Name: activity_id, dtype: object,
 'unique_campaign_count': 1}

In [76]:
# 16
result = df[df['workflow_id'] == sorted(df['workflow_id'].unique())[0]][['hostname', 'started_at']].sort_values('started_at').apply(tuple, axis=1).tolist()
result

[('LAP149969.ornl.gov', '2025-07-10 19:49:05.461163+00:00'),
 ('LAP149969.ornl.gov', '2025-07-10 19:49:05.462119+00:00'),
 ('LAP149969.ornl.gov', '2025-07-10 19:49:05.462986+00:00'),
 ('LAP149969.ornl.gov', '2025-07-10 19:49:05.463939+00:00'),
 ('LAP149969.ornl.gov', '2025-07-10 19:49:05.464884+00:00'),
 ('LAP149969.ornl.gov', '2025-07-10 19:49:05.465991+00:00'),
 ('LAP149969.ornl.gov', '2025-07-10 19:49:05.467316+00:00'),
 ('LAP149969.ornl.gov', '2025-07-10 19:49:05.468047+00:00')]

In [94]:
# 17
result = df.loc[((df[[c for c in df.columns if c.startswith('used.')]].shift() == df[[c for c in df.columns if c.startswith('used.')]]) | (df[[c for c in df.columns if c.startswith('used.')]].shift(-1) == df[[c for c in df.columns if c.startswith('used.')]])).any(axis=1), ['workflow_id','activity_id'] + [c for c in df.columns if c.startswith('used.')]]
result

,workflow_id,activity_id,used.input_value,used.h,used.e,used.f,used.g,used.d,used.c,used.b
1,20ec5772-d321-43cd-b35f-73a715107e25,square_and_quarter,NaN,43.0,NaN,NaN,NaN,NaN,NaN,NaN
2,20ec5772-d321-43cd-b35f-73a715107e25,sqrt_and_scale,NaN,43.0,NaN,NaN,NaN,NaN,NaN,NaN
3,20ec5772-d321-43cd-b35f-73a715107e25,subtract_and_shift,NaN,43.0,NaN,NaN,NaN,NaN,NaN,NaN

In [96]:
# 17.1

result

In [78]:
# 18
result = df['hostname'].value_counts().idxmax()
result

'LAP149969.ornl.gov'

In [100]:
result = {'task_count_per_workflow': df.groupby('workflow_id').size().reset_index(name='task_count'),'earliest_start_time': df['started_at'].min()}
result

{'task_count_per_workflow':                             workflow_id  task_count
 0  20ec5772-d321-43cd-b35f-73a715107e25           8,
 'earliest_start_time': '2025-07-10 19:49:05.461163+00:00'}

In [110]:
result = df.loc[df.sort_values(['workflow_id','started_at']).groupby('workflow_id').cumcount() == 1].apply(lambda row: row[{'scale_shift_input':'generated.h','square_and_quarter':'generated.e','sqrt_and_scale':'generated.f','subtract_and_shift':'generated.g','square_and_subtract_one':'generated.d','log_and_shift':'generated.c','power_one_point_five':'generated.b','average_results':'generated.a'}.get(row['activity_id'], None)] if pd.notna(row['activity_id']) else None, axis=1).dropna().mean()

result

np.float64(462.25)

In [111]:
result = df[[col for col in df.columns if col.startswith('generated.')]].max().max()
result

np.float64(213674.0625)

In [121]:
result = df.sort_values(['workflow_id','started_at']).groupby('workflow_id').nth(1).assign(duration=lambda x: (pd.to_datetime(x['started_at']) - pd.to_datetime(df.sort_values(['workflow_id','started_at']).groupby('workflow_id').nth(0)['started_at'])).dt.total_seconds()).duration.mean()

result

nan

In [122]:
result = df.loc[df['started_at'].idxmin(), ['used.input_value', 'generated.h']]
result

used.input_value    12.0
generated.h         43.0
Name: 0, dtype: object

In [123]:
result = df.sort_values(['workflow_id','started_at']).groupby('workflow_id').first().apply(lambda row: row['generated.h'] if pd.notna(row['generated.h']) else None, axis=1).dropna().mean()
result

np.float64(43.0)

In [124]:
result = df.loc[df.sort_values(['workflow_id','started_at']).groupby('workflow_id').cumcount() == df.groupby('workflow_id')['task_id'].transform('count') - 1].apply(lambda row: row[{'scale_shift_input':'generated.h','square_and_quarter':'generated.e','sqrt_and_scale':'generated.f','subtract_and_shift':'generated.g','square_and_subtract_one':'generated.d','log_and_shift':'generated.c','power_one_point_five':'generated.b','average_results':'generated.a'}.get(row['activity_id'], None)] if pd.notna(row['activity_id']) else None, axis=1).dropna().mean()
result

np.float64(71334.96537296497)

In [126]:
result = df.assign(started_at=pd.to_datetime(df['started_at']),ended_at=pd.to_datetime(df['ended_at'])).groupby('workflow_id').apply(lambda x: (x['ended_at'].max() - x['started_at'].min()).total_seconds()).gt(2).sum()
result

/tmp/ipykernel_41730/2148601591.py:1: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  result = df.assign(started_at=pd.to_datetime(df['started_at']),ended_at=pd.to_datetime(df['ended_at'])).groupby('workflow_id').apply(lambda x: (x['ended_at'].max() - x['started_at'].min()).total_seconds()).gt(2).sum()

np.int64(0)

In [127]:
result = df.loc[df['workflow_id'].isin(df['workflow_id'].drop_duplicates().sample(n=min(3, df['workflow_id'].nunique()), random_state=42))].loc[lambda d: d.groupby('workflow_id').cumcount() == d.groupby('workflow_id')['task_id'].transform('count') - 1].apply(lambda row: row.get({'scale_shift_input':'generated.h','square_and_quarter':'generated.e','sqrt_and_scale':'generated.f','subtract_and_shift':'generated.g','square_and_subtract_one':'generated.d','log_and_shift':'generated.c','power_one_point_five':'generated.b','average_results':'generated.a'}.get(row['activity_id'], None)) if pd.notna(row['activity_id']) else None,axis=1).dropna().mean()
result

np.float64(71334.96537296497)

In [129]:
result = df[df['workflow_id'] == df.loc[pd.to_datetime(df['started_at']).idxmax(), 'workflow_id']].groupby('activity_id').apply(lambda g: g.iloc[-1][{'scale_shift_input':'generated.h','square_and_quarter':'generated.e','sqrt_and_scale':'generated.f','subtract_and_shift':'generated.g','square_and_subtract_one':'generated.d','log_and_shift':'generated.c','power_one_point_five':'generated.b','average_results':'generated.a'}.get(g.name, None)]).dropna().mean()
result

/tmp/ipykernel_41730/1989129960.py:1: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  result = df[df['workflow_id'] == df.loc[pd.to_datetime(df['started_at']).idxmax(), 'workflow_id']].groupby('activity_id').apply(lambda g: g.iloc[-1][{'scale_shift_input':'generated.h','square_and_quarter':'generated.e','sqrt_and_scale':'generated.f','subtract_and_shift':'generated.g','square_and_subtract_one':'generated.d','log_and_shift':'generated.c','power_one_point_five':'generated.b','average_results':'generated.a'}.get(g.name, None)]).dropna().mean()

np.float64(35741.40701537571)

In [130]:
result = df.groupby('activity_id').apply(lambda g: g[{'scale_shift_input':'generated.h','square_and_quarter':'generated.e','sqrt_and_scale':'generated.f','subtract_and_shift':'generated.g','square_and_subtract_one':'generated.d','log_and_shift':'generated.c','power_one_point_five':'generated.b','average_results':'generated.a'}.get(g.name, None)].min()).dropna()
result

/tmp/ipykernel_41730/281038475.py:1: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  result = df.groupby('activity_id').apply(lambda g: g[{'scale_shift_input':'generated.h','square_and_quarter':'generated.e','sqrt_and_scale':'generated.f','subtract_and_shift':'generated.g','square_and_subtract_one':'generated.d','log_and_shift':'generated.c','power_one_point_five':'generated.b','average_results':'generated.a'}.get(g.name, None)].min()).dropna()

activity_id
average_results             71334.965373
log_and_shift                  10.672360
power_one_point_five          320.161259
scale_shift_input              43.000000
sqrt_and_scale                 39.344631
square_and_quarter            462.250000
square_and_subtract_one    213674.062500
subtract_and_shift             46.800000
dtype: float64

In [136]:
result = df[df['workflow_id'].isin(sorted(df['workflow_id'].unique())[-5:])].groupby('activity_id')['used.input_value'].max().dropna()
result

activity_id
scale_shift_input    12.0
Name: used.input_value, dtype: float64

In [139]:
result = df[df['workflow_id'].isin(sorted(df['workflow_id'].unique())[-5:])].groupby('activity_id').agg({col: 'max' for col in df.columns if col.startswith('used.')}).reset_index()
result

,activity_id,used.input_value,used.h,used.e,used.f,used.g,used.d,used.c,used.b
0,average_results,NaN,NaN,NaN,NaN,NaN,213674.0625,10.67236,320.161259
1,log_and_shift,NaN,NaN,NaN,39.344631,NaN,NaN,NaN,NaN
2,power_one_point_five,NaN,NaN,NaN,NaN,46.8,NaN,NaN,NaN
3,scale_shift_input,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,sqrt_and_scale,NaN,43.0,NaN,NaN,NaN,NaN,NaN,NaN
5,square_and_quarter,NaN,43.0,NaN,NaN,NaN,NaN,NaN,NaN
6,square_and_subtract_one,NaN,NaN,462.25,NaN,NaN,NaN,NaN,NaN
7,subtract_and_shift,NaN,43.0,NaN,NaN,NaN,NaN,NaN,NaN

In [140]:
result = df.assign(started_at=pd.to_datetime(df['started_at']), ended_at=pd.to_datetime(df['ended_at'])).groupby('workflow_id').filter(lambda x: (x['ended_at'].max() - x['started_at'].min()).total_seconds() > 120)['workflow_id'].unique().tolist()
result

[]

In [4]:
result = df['hostname'].value_counts().idxmax()
result

'LAP149969.ornl.gov'

In [5]:
result = df['hostname'].value_counts()
result

hostname
LAP149969.ornl.gov    800
Name: count, dtype: int64

### Expected vs Actual for Q18 
### Config = 0.01 Temp and 1.0 Top_P

In [6]:
# Actual 
result = df[(df['workflow_id'] == df['workflow_id'].max())][['hostname', 'task_id']].groupby('hostname').size().reset_index(name='task_count').sort_values(by='task_count', ascending=False).head(1)
result

             hostname  task_count
0  LAP149969.ornl.gov           8

In [8]:
# Expected
result = df['hostname'].value_counts().idxmax()
result

'LAP149969.ornl.gov'